* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {

  padding: 10px;
  border: 2px solid #ccc;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.inpName {
  /* width: 60px;
  height: 20px; */
  padding: 10px;
  border: 2px solid #ccc;
  display: inline-block;
}

body {
  transition: 0.7s;
}

.char {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  display: inline;
  left: 0;
}